/*
*General Styles
*/

html{
  background: #444444;
  color: #92D36E;
  text-align: center;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  background-color: #333;
  border-radius: 15px;
  border: solid 1px #92D36E;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin: 20px;
  width: auto;
}

nav a{
  color: #92D36E;
  text-decoration: none;
  border-right: solid 1px #92D36E;
  margin-right: 15px;
  padding: 20px 40px;
  width: auto;
}

nav a:last-child {
  border-right: none;
}

footer {
  height: auto;
}